@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: black;
    color: white;
    width: 100%;
}

.left{
    width: 20vw;
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.left>div{
    padding: 10px;
    /* background-color: #121212; */
    border-radius: 7px;
}

.right{
    margin: 5px 0;
    width: 75vw;
    padding: 10px;
    /* background-color: #121212; */
    border-radius: 7px;
    position: relative;
}

.home ul li{
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 11px;
    align-items: center;
    padding: 9px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    flex-wrap: wrap;
    position:absolute;
    bottom: 0;
}
.footer a{
    color: grey;
}

.library{
    min-height: 70vh;
    position: relative;
}

.heading img{   
    width: 14px;    
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    /* background-color: rgb(34,34,34); */
}

.header >*{
    padding: 16px;
}

.spotifyPlaylists{
    padding: 16px;
    padding-right: 0;
}

.cardContainer{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 25px;
    margin-right: 0;
    margin-left: 5px;
    overflow-y: scroll;
    max-height: 60vh;
}

.buttons>*{
    margin: 0 12px;
    cursor: pointer;
}

.signUpButton{
    font-weight: bold;
    background-color: black;
    color: wheat;
    border: none;
    outline: none;
}

.signUpButton:hover{
    font-size: 15px;
    color: white;

}

.loginButton{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 5px;
    width: 60px;
    font-weight: 500;
}

.loginButton:hover{
    width: 64px;
    padding: 5px 7px;
    font-size: 15px ;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    /* background: #1a1919; */
}

.card>*{
    padding-top: 9px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    top: 164px;
    right: 20px;
    background-color: #121212;
    border-radius: 50%;
    padding: 0.5px 2px;
    opacity: 0;
    transition: all 1s ease-out;

}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(26, 84, 26);
    width: 92%; 
    padding: 12px;
    margin-left: 15px;
}

.songButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.info{
    width: 90%;
    justify-content: left;
}

.songList ul{
    padding: 0 0 0 22px;
}

.songList ul li{
    display: flex;
    gap: 6px;
    cursor: pointer;
    padding: 12px 0;
    overflow-wrap:break-word;
    list-style-type: decimal;
    position:relative;
}

#songListPlayText{
    top: 38px;
    position: absolute;
    left: 162px;
    font-size: 9px;
    border: 1px solid rgb(166, 166, 166);
    color: rgb(166, 166, 166);
    border-radius: 2px;
    padding: 1px;
    display: none;
}


#songListPlayImage:hover ~ #songListPlayText{
    display: block;
}